{% extends 'stock_management/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main role="main" class="container">
    {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
        </ul>
    {% endif %}

    <div class="bg-light p-5 rounded">
        <div class="header">{{header}}</div>
        <form method='POST' action=''>
            {% csrf_token %}
            {{form|crispy}}
            <br>
                <input type="submit" value='Search'/>
        </form>
        <br>
        <div class="display-table">

            <table class='table'>
                <thead>
                <tr>
                    <th>COUNT</th>
                    <th>ID</th>
                    <th>CATEGORY</th>
                    <th>ITEM NAME</th>
                    <th>QUANTITY</th>
                    <th>reorder level</th>
                    <th>Created</th>
                    <th>Last updated</th>
                    <th>DELETE</th>
                </tr>
                </thead>
                {% for instance in queryset %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{instance.id}}</td>
                    <td>{{instance.category}}</td>
                    <td><a href="{% url 'update_item' instance.id %}">{{instance.item_name}}</a></td>
                    <td>
                      {% if instance.quantity <= instance.reorder_level %}
                        <div style="background-color: orange;"><a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a></div>
                      {% else %}
                        <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                      {% endif %}
                    </td>
                    <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
                    <td>{{instance.timestamp}}</td>
                    <td>{{instance.last_update}}</td>
                    <td><a href="{% url 'delete_item' instance.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</main>
{% endblock content %}