{% extends 'stock_management/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<main role="main" class="container">
    {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
        </ul>
    {% endif %}

    <div class="bg-light p-5 rounded">
        <div class="header">{{header}}</div>
        <form method='POST' action=''>{% csrf_token %}
            {{form|crispy}}
            <input type="submit" value='Search'/>
        </form>
        <br>
        <div class="display_table">
        <table class='table'>
          <thead>
            <tr>
              <th>COUNT</th>
              <th>ID</th>
              <th>CATEGORY</th>
              <th>ITEM NAME</th>
              <th>QUANTITY IN STORE</th>
              <th>ISSUE QUANTITY</th>
              <th>RECEIVE QUANTITY</th>
              <th>RECEIVE BY</th>
              <th>ISSUE BY</th>
              <th>LAST UPDATE</th>
            </tr>
          </thead>
        {% for instance in queryset %}
            <tr>

              <td>{{forloop.counter}}</td>
              <td>{{instance.id}}</td>
              <td>{{instance.category}}</td>
              <td>{{instance.item_name}}</td>
              <td>{{instance.quantity}}</td>
              <td>{{instance.issue_quantity}}</td>
              <td>{{instance.receive_quantity}}</td>
              <td>{{instance.receive_by}}</td>
              <td>{{instance.issue_by}}</td>
              <td>{{instance.last_update}}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
    </div>
</main>

{% endblock content %}